# 자료형

자료형은 프로그래밍의 첫걸음!!

### 수 자료형

숫자 자료형(Number)는 가장 기본적인 자료형이다.<br>

#### 정수형

정수형(Integer)은 정수를 다루는 자료형이며, 양의정수,0,음의정수가 있다.

In [11]:
#양의 정수
a = 1000
print(a)

#음의 정수
a = -7
print(a)

# 0
a = 0
print(a)

1000
-7
0

#### 실수형

실수형(Real Number)는 소수점 아래의 데이터를 포함하는 수 자료형.<br>
정수가 0인 소수는 0을 생각하고 표현 할 수 있다.

In [12]:
#양의 실수
a = 157.93
print(a)

#음의 실수
a = -123.5
print(a)

#소수부가 0일때
a = 5.
print(a)

#정수부가 0일때
a = -.7
print(a)

157.93
-123.5
5.0
-0.7

#### 지수 표현 방식

유효숫자e$^{지수}$ = 유효숫자 $\times 10^{지수}$<br><br>
이렇게 표현하면 더 쉽게 표현 할 수 있다.

In [13]:
#10억의 표현
a = 1e9
print(a)

#625.2
a = 6.252e2
print(a)

#3.954
a = 3954e-3
print(a)

1000000000.0
625.2
3.954

#### 부동 소수점(Floating-point)

컴퓨터는 실수를 처리할때 4byte, 8byte 등의 "고정된 크기의 메모리"를 이용하며, 이를 부동소수점이라 한다.
이렇기 때문에, 소수의 덧셈을 할때 값을 정확하게 표현하지 못할 수 있다.

In [14]:
a = 0.3 + 0.6
print(a)

if a==0.9:
    print(True)
else:
    print(False)

0.8999999999999999
False

<b>0.3과 0.6을 더했지만 0.9가 아닌것을 확인 할 수있다.</b>

이를 해결하기 위해 round() 함수를 이용 할 수 있다.<br>
round() 함수는 round(a,b)꼴로 인자(Argument)를 넣으며,<br>
첫번째는 실수형 데이터, 두번째는 반올림하고자 하는 위치 -1 이다.<br><br>

123.456을 소수 셋째 자리에서 반올림 하려면, round(123.456,2) 이며, 123.46이 나온다

In [15]:
a = round(0.3 + 0.6,4)
print(a)

if a == 0.9:
    print('True')
else:
    print('False')
    
#원하던 0.9가 나오는것을 확인 할 수 있다.

0.9
True

#### 수 자료형의 연산

파이썬의 나누기 연산자(/)는 결과를 실수형으로 처리한다.<br>
코딩 문제를 풀때는 나머지 연산자(%)나 몫 연산자(//)를 이용할 때가 많다고 한다

In [17]:
a = 7
b = 3

#나누기
print(a/b)

#나머지
print(a%b)

#몫
print(a//b)

#거듭제곱
print(a**b)

2.3333333333333335
1
2
343

### 리스트 자료형<br>
리스트는 여러 개의 데이터를 처리하기 위할때 사용한다.<br>
배열(Array) 형태를 채택하고 있으며, 연결 리스트 자료구조 기능을 포함하고있기 때문에(...??) &nbsp;  append(), remove()등을 지원한다.

#### 리스트 만들기

리스트는 대괄호 [ ] 안에 원소를 넣어 초기화 하며, 쉼표(,)로 원소를 구분한다.<br>
리스트의 원소에 접근하기 위해서는 인덱스(index)값을 괄호 안에 넣는다. 인덱스는 0부터 시작<br>
비어있는 리스트를 선언하기 위해서는 list()나 [ ] 만 입력해서 만들도록 한다.

In [18]:
a = [1,2,3,4,5,6,7,8,9]
print(a)

#인덱스4에 접근(5번째에 접근)
print(a[4])

#빈 리스트 만들기
a = list()
print(a)

a = []
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
5
[]
[]

In [19]:
#크기가 N이고, 모든값이 0인 1차원 리스트 초기화(만드는법)

n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### 리스트의 인덱싱과 슬라이싱

인덱싱 = "인덱스값을 입력하여 특정 원소에 접근하는것"<br>
정수로 표현하며 음의정수를 이용시 역순으로 탐색.

In [22]:
a = [1,2,3,4,5,6,7,8,9]

#뒤에서 첫번째
print(a[-1])

#뒤에서 세번째
print(a[-3])

#네번째 원소 값 변경
a[3] = 7
print(a)

#2번째~4번째 원소 인덱싱
print(a[1:4])

9
7
[1, 2, 3, 7, 5, 6, 7, 8, 9]
[2, 3, 7]

#### 리스트 컴프리헨션
리스트를 초기화(만드는) 하는 방법중 하나<br>
대괄호([ ])안에 조건문과 반복문을 넣어 리스트를 만들 수 있다.

In [48]:
#0~19까지 숫자중 홀수만 출력하는 리스트
array = [i for i in range(20) if i%2 ==1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
#원래대로 할 경우 표현법
array = []
for i in range(20):
    if i%2 ==1:
        array.append(i)
        
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

###### sandbox! : 둘의 시간을 비교해보자!

In [69]:
import time

#0~19까지 숫자중 홀수만 출력하는 리스트
#애초에 홀수만 출력시
start_time = time.time()


array = [i for i in range(1,10000000,2)]

end_time = time.time()
print("소요된 시간 : ",end_time - start_time)

소요된 시간 :  0.3199887275695801

In [51]:
import time

#0~19까지 숫자중 홀수만 출력하는 리스트
start_time = time.time()


array = [i for i in range(10000000) if i%2 ==1]

end_time = time.time()


print("소요된 시간 : ",end_time - start_time)

소요된 시간 :  0.8730025291442871

In [52]:
import time

#원래대로 할 경우 표현법
start_time = time.time()

array = []
for i in range(10000000):
    if i%2 ==1:
        array.append(i)
        
        
end_time = time.time()       
print("소요된 시간 : ",end_time - start_time)

소요된 시간 :  1.5560085773468018

list comprehension이 더 빠른것을 확인 할 수 있다.

In [57]:
#1부터 9까지의 수의 제곱값을 포함하는 리스트
array = [i*i for i in range(1,10)]
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

N $\times$ M 크기의 2차원을 초기화 할때

In [71]:
#3*4 크기의 2차원을 초기화해보자
n = 3
m = 4
array = [[0] * m for _ in range(n)]
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

특정크기의 2차원 리스트를 초기화 하기 위해서는 반드시 리스트 컴프리헨션을 이용해야한다.<br>
다음과 같이 N $\times$ M 크기를 초기화 하면 잘못된 결과가 나올 수 있다

In [72]:
#잘못된 방법
n = 3
m = 4
array = [[0]*m]*n
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

무엇이 문제냐면, 나는 array[1][1] = 5를 통해 [1][1]만 5로 바꿔주고 싶었던건데,<br>
모든 리스트의 1번째 인덱스가 다 변해버렸다.<br>
Why?<br>
[ ]$*$n 의 연산에서, 3개의 리스트를 같은 객체로 인식했기 떄문이다.<br>
이러한 이유로 2차원을 잘 초기화 하기 위해서는 list comprehension을 이용해야 한다

---
<b>*tip*</b><br>
파이썬에서 반복은 하되, 변수의 값을 무시하고자 할때는 언더바(_)를 자주 사용한다.

In [53]:
#반복하는 변수의 값이 중요하다.
summary = 0
for i in range(10):
    summary += i
print(summary)

45

In [54]:
#반복하는 변수의 값이 중요하지 않다.
for _ in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

---

#### 리스트 관련 기타 메서드

<table width = '100%' border ="1" align = 'center'>
    <!--테이블 헤드-->
    <th align='center'>메서드명</th>
    <th align='center'>사용법</th>
    <th>설명</th>
    <th>시간 복잡도</th>
    <tr><!-- 첫줄 -->
        <td>append()</td>
        <td>변수명.append()</td>
        <td>리스트에 원소를 하나 삽입할 때 사용</td>
        <td>$O(1)$</td>
    </tr>    
    <tr><!-- 두번째 줄 -->
        <td rowspan = '2'>sort()</td>
        <td>변수명.sort()</td>        
        <td>기본 정렬 기능, 오름차순 정렬</td>
        <td rowspan ='2'>$O(NlogN)$</td>
    </tr>        
    <tr><!-- 세번째 줄 -->
        <!--<td></td>-->
        <td>변수명.sort(reverse = True)</td>        
        <td>내림차순으로 정렬</td>
        <!--<td></td>-->
    </tr>
    <tr><!-- 네번째 줄 -->
        <td>reverse()</td>
        <td>변수명.reverse()</td>        
        <td>리스트의 순서를 바꾼다</td>
        <td>$O(N)$</td>
        <!--<td></td>-->
    </tr>
    <tr><!-- 다섯번째 줄 -->
        <td>insert()</td>
        <td>변수명.insert(삽입할 위치의 인덱스, 삽입할 값)</td>        
        <td>특정한 인덱스 위치에 삽입할 떄 사용</td>
        <td>$O(N)$</td>
    </tr>
    <tr><!-- 여섯번째 줄 -->
        <td>count()</td>
        <td>변수명.count(특정값)</td>        
        <td>특정한 값을 가지는 데이터의 갯수 파악</td>
        <td>$O(N)$</td>
    </tr>
    <tr><!-- 여섯번째 줄 -->
        <td>remove()</td>
        <td>변수명.remove(특정값)</td>        
        <td>특정한 값을 갖는 원소를 제거. 원소가 여러개면 하나만 제거</td>
        <td>$O(N)$</td>
    </tr>
    
</table>

In [75]:
a = [1,4,3]
print("기본 리스트 : ",a)

#리스트 원소 삽입
a.append(2)
print("삽입 : ",a)

#오름차순 정렬
a.sort()
print("오름차순 정렬 : ",a)

#내림차순 정렬
a.sort(reverse = True)
print("내림차순 정렬 : ",a)

#리스트 원소 뒤집기
a.reverse()
print("원소 뒤집기 : ",a)

#특정 인덱스에 데이터 추가
a.insert(2,3)
print("인덱스 2에 3 추가 : ",a)

#특정 데이터 개수 세기
print("3의 개수는 : ",a.count(3))

#특정 데이터 값 삭제
a.remove(1)
print("값이 1인 데이터 삭제 : ",a)

기본 리스트 :  [1, 4, 3]
삽입 :  [1, 4, 3, 2]
오름차순 정렬 :  [1, 2, 3, 4]
내림차순 정렬 :  [4, 3, 2, 1]
원소 뒤집기 :  [1, 2, 3, 4]
인덱스 2에 3 추가 :  [1, 2, 3, 3, 4]
3의 개수는 :  2
값이 1인 데이터 삭제 :  [2, 3, 3, 4]

---
#### sandbox!

remove 할때 없어지는 순서는?

In [76]:
a= [1,2,3,4,1]
a.remove(1)
print(a)

[2, 3, 4, 1]

앞에 있는 순서대로 없어지는걸 확인할 수 있다!

---

<b>insert</b><br>
원소개수 N개일 때 insert()의 시간복잡도 = $O(N)$<br>
append()가 시간복잡도 $O(1)$인것에 비하면 오래 걸린다<br>
원소를 중간에 삽입하고, 리스트의 원소 위치를 조정해야하기 때문!<br><br>

<b>remove</b><br>
remove의 시간복잡도도 $O(N)$<br>
insert와 마찬가지로, 원소를 중간에 삽입하고, 리스트의 원소 위치를 조정해야하기 때문!<br><br>

In [77]:
#특정한 원소를 모두 없에고 싶을때

a = [1,2,3,4,5,5,5]
remove_set = {3,5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

**해설<br>
[i for i in a if i not in remove_set]<br>
1. i : result에 i를 넣어줘라<br>
2. for i in a : i는 a의 원소다<br>
3. if i not in remove_set : 근데 i는 remove_set의 원소가 아닐때만!

### 문자열 자료형

#### 문자열 초기화

문자열 자료를 초기화 할때는 따옴표를 이용하도록 한다! (" " , ' ')<br>
문자열 안에 있는 따옴표와 중복되지 않도록만 조심하자. \ 를 통해 문자열 안에 따옴표를 넣을 수 있다!

In [78]:
data ='Hello World'
print(data)

data = 'Don\'t you know "Python"?'
print(data)

Hello World
Don't you know "Python"?

#### 문자열 연산
문자열끼리 연산도 할 수 있다

In [79]:
a = "Hello"
b = "World"

print(a + " " + b)

Hello World

In [80]:
a = "String"

print(a*3)

StringStringString

In [82]:
a = "ABCDEF"

print(a[2:4])

CD

### 튜플 자료형

튜플의 값은 변경할 수 없다.<br>
튜플은 ()를 이용한다

In [84]:
a = (1,2,3,4)
print(a)

a[2] = 7

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

값을 변경하려 하면 오류가 생기는것을 확인 할 수 있다.

튜플은 "그래프" 를 구현할 때 자주 사용된다.<br>
다익스트라 최단거리 알고리즘에서 "비용"과 "노드번호"를 묶어서 사용하는것이 관례

### 딕셔너리 자료형

딕셔너리 자료형은 키(key)와 값(value)를 쌍으로 갖는 자료형이다. <br>

<table align = "left">
    <th>키(Key)</th>
    <th>값(Value)</th>    
    <tr><!-- 첫줄-->
        <td>사과</td>    
        <td>Apple</td>
    </tr>
    <tr><!-- 둘째줄-->
        <td>바나나</td>
        <td>Banana</td>
    </tr>    
    <tr><!-- 셋째줄-->
        <td>코코넛</td>
        <td>Coconut</td>
    </tr>
    
</table>

파이썬의 딕셔너리 자료형은 내부적으로 해시테이블(Hash Table)을 이용하므로 기본적으로 $O(1)$의 시간에 처리할 수 있다. <br>
아무튼 리스트보다 빠름

In [85]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

딕셔너리 자료형에서는 "원소 in 사전"의 형태로 검색을 할 수 있다.<br>
참고로, 리스트나 튜플에서도 이런식의 검색이 가능하다.

In [91]:
'사과' in data

True

####  딕셔너리 관련 함수

In [106]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

#키 추출
key_list = data.keys()
#값 추출
value_list = data.values()

print(key_list)
print(value_list)
print('----------')

#각 키를 하나씩 출력
for key in key_list:
    print(key)
print('----------')

#각 키에 따른 값을 하나씩 출력
for key in key_list:
    print(data[key])

dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
----------
사과
바나나
코코넛
----------
Apple
Banana
Coconut

### 집합 자료형

파이썬에는 집합(set)를 처리하는 집합자료형이 있다.<br>
기본적으로 리스트, 문자열을 통해 만들 수 있다. 특징은 다음과 같다<br>

- 중복을 허용하지 않는다
- 순서가 없다

집합은, 사전과 마찬가지로 검색할때 $O(1)$의 복잡도를 갖는다. (순서가 없기 때문)
초기화 할 때는 set() 함수나 { }를 통해 한다.

In [113]:
data = 1,1,2,3,4,4,5

set1 = set(data)
print(set1)

set2 = {1,1,2,3,4,4,5}
print(set2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

### 집합의 연산

합집합 기호 : |<br>
교집합 기호 : &<br>
차집합 기호 : -<br>

In [114]:
a = set([1,2,3,4,5])
b = set([3,4,5,6,7])

print(a|b) #합집합
print(a&b) #교집합
print(a-b) #차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

#### 집합 관련 함수

원소 더하기 : add() <br>
원소 여러개 더하기 : update()<br>
값 제거하기 : remove()  # 하나씩만 가능

In [118]:
data = set([1,2,3])
print(data)

data.add(4)
print(data)

data.update([5,6])
print(data)

data.remove(6)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}